.App {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cardClass {
  width: max-content;
  margin: 1rem;
  padding-inline: 0.5rem;
  padding-bottom: 1rem;
  max-height: 25rem;
}

.cardBody {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 20rem;
  height: 100%;
}

.myImage {
  width: 100% auto;
  max-height: 13rem;
}

.predictionButtons {
  position: absolute;
  bottom: 0;
}

.info {
  align-self: center;
}

.info em {
  font-weight: bold;
}

.longText {
  word-wrap: normal;
}

.trainingButtonsDiv {
  position: absolute;
  bottom: 0;
}

.trainingButtons {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
