.myImage {
  width: 100% auto;
  max-height: 13rem;
}

.predictionButtons {
  position: absolute;
  bottom: 0;
}

.predictionResult {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.predictionText {
  color: red;
}
